@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	background-color: black;
}

header{
	background-image: url(../img/header.jpeg);
	background-size: cover;
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
}

nav ul li a{
	color: whitesmoke;
	font-weight: 300;
	font-size: 2em;
	text-decoration: none;
	text-align: center;
}

section div button{
	color: black;
	font-size: 5rem;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;

}


/*Layout mobile*/

.contenedor{
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: auto;
	grid-template-areas: "nav"
	"header"
	"botonPrincipal"
	"productos"
	"footer"
}

#nav{
	grid-area: nav;
	position: sticky;
	list-style: none;
}

#nav ul li a:hover{
			color: grey;
			font-weight: 600;
}

#header{
	grid-area: header;
}

#botonPrincipal{
	grid-area: botonPrincipal;
}

#productos{
	grid-area: productos;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	align-content: center;
	overflow-x: auto;
}

#footer{
	grid-area: footer;
}


/*inicia botonera*/ 
.botonera {
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: center;
		background-color: black;
		
	}

	.botonera img{
		width: 100px;
		margin-bottom: 5px;
	}

	.botonera ul{
		display: flex;
		
	}

	.botonera ul li{
		list-style: none;
		margin-right: 20px;

	}


		/*hover*/
		.botonera ul li a:hover{
			color: grey;
			font-weight: 600;
		}

@keyframes animateLogo{
	0%{width: 75px}
	25%{width: 100px}
	50%{width: 125px; color: grey}
	75%{width: 150px}
	100%{width: 200px}
}

.animate {
	animation-name: animateLogo;
	animation-iteration-count: initial;
	animation-timing-function: linear;
	animation-duration: 5s;
}


.botonPedido{
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 25px;
	border: 8px;
	width: 100%;
	align-content: center;
	justify-items: center;
	text-align: center;
	justify-content: center;
}

.transform:hover{
	transform: translate(10px, -10px);
	cursor: pointer;
}

.titulos{
	color: white;
	font-size: 3em;
	font-weight: 400;
	margin: 10px 10px 10px 10px;
	text-align: center;
	justify-items: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
}


.caja{
	margin: 0px 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	align-content: center;
	overflow-x: auto;
}

.card div{
	text-align: center;
	background-color: white;
	margin: 10px 10px;
	align-items: center;
	padding: 20px;

}

.card div img{
	border-radius: 5px;
	align-content: center;
	margin: 10px;
	justify-content: space-between;
}

.card div h2{
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	padding: 10px;

}

.card div p{
	color: black;
	font-size: 1.5em;
	font-weight: 300;
	text-align: justify-all;
	justify-items: space-between;
}

.footer{
	background-color: white;
	background-blend-mode: multiply;
	color: black;
	margin-top: 50px;
	font-size: 1rem;
	font-weight: 300;
	height: 50px;
	display: inline-flex;
	align-items: center;	
	justify-content: center;

}

.footer img{
	width: 30px;
	height: 30px;
	margin: 10px;
}


/*Layout desktop*/
@media (min-width: 1200px){

	.contenedor{
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: auto;
	grid-template-areas: "nav"
	"header"
	"botonPrincipal"
	"productos"
	"footer"
	}

	#productos{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	padding: 10px;
	justify-content: center;
	
	}

	header{
	height: 400px
	}

	nav ul li a{
		font-size: 4em;

	}

	.botonera{
		position: sticky;
		padding: 10px 30px;
		flex-direction: row;	
		justify-content: space-between;		
	}

	.botonera img{
		width: 200px;
		margin-left: 20px;
	}

	.botonPedido{
	margin-top: 50px;
	margin-bottom: 30px;
	width: 50%;
	}

	.titulos h1{
	font-size: 4em;
	}

	.caja{
		flex-direction: row;
		justify-content: space-between;
	}


	.card h2{
		font-size: 3em;
	}

	.card p{
		font-size: 2em;
	}

	.footer{
		font-size: 2rem;
		height: 100px;
		justify-content: flex-end;
	}

	.footer img{
		width: 50px;
		height: 50px;	
	}
}

/*Nosotros mobile*/

.contenedorNosotros{
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: auto;
	grid-template-areas: "nav"
	"header"
	"botonPrincipal"
	"parrafos"
	"footer"
}

#nav{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#botonPrincipal{
	grid-area: botonPrincipal;
}

#parrafos{
	grid-area: parrafos;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	justify-content: center;
	
}

#footer{
	grid-area: footer;
}


.titulos h2{
	color: white;
	font-size: 2em;
	font-weight: 300;
	margin: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

.titulos  div img{
	width: 40%;
	height: auto;
	
}

/*Nosotros desktop*/
@media (min-width: 1200px){
	.contenedor{
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: auto;
	grid-template-areas: "nav"
	"header"
	"none botonPrincipal none"
	"productos"
	"footer"
	}

	.titulos h2{
		font-size: 2.5em;
		margin-left: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.titulos  div img{
		width: 50%;
		height: auto;
		margin: 50px 400px;
		display: flex;
		align-items: center;

	}
}
