@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

$fontMain: 'Roboto', sans-serif;

//Tamaños fuente
$txtXL: 5em; 
$txtL: 3em;
$txtM: 2em;
$txtS: 1.5em;


//Fuente weight
$fontBold: 800;
$fontBlack: 600;
$fontNormal: 400;
$fontLight: 300;