.botonera {
	    background-color: $mainColor;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: space-between;
		position: sticky;
		@media (min-width: 1200px){
			padding: 10px 30px;
			flex-direction: row;	
			justify-content: space-between;
		}

		img{
			width: $w-50;
			margin-bottom: 5px;
			@media (min-width: 1200px){
				width: $w-75;
				margin-left: 20px;
			}

		}

		ul{
			display: flex;

			li{
				list-style: none;
				margin-right: 20px;

				a{
					font-color: $textColor;
					font-family: $fontMain;
					font-weight: $fontLight;
					font-size: $txtS;
					text-decoration: none;
					text-align: center;
					@media (min-width: 1200px){
						font-size: $txtM;
						font-weight: $fontNormal;
					}
					&:hover{
						color: $secondaryColor;
						font-weight: $fontBlack;
					}


				}
			}


		}

	}